body {
    background: #e1e1e1;
    padding: 10px;
}

.container {
    background: white;
    width: 500px;
    padding: 1.5rem;
    margin: 0 auto;
    min-height: 250px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 1rem;
}

.error {
    color: red;
    display: inline-block;
    margin-left: .5rem;
}

.error-indicator {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    padding: .25rem;
}